.mt-6 {
  margin-top: 6rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

nav , footer {
  margin : 0 auto;
  width : 100%;
}

.text-right-approval {
  text-align: right !important;
}

@media (max-width: 575px) {
  .signup .text-right { text-align: left !important  }
}